<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>Register Candidate Details</h1>
        <form method="post">
            <p>
                <b>Your Id: </b>
                <input type="text" name="empid"/>
                <b>Your Name: </b>
                <input type="text" name="empname"/>
                 <b>Your job: </b>
                <input type="text" name="empjob"/>
                <b>Deparment ID </b>
                <input type="text" name="empdeptid"/>
               
            </p>
            <p>
                <input type="submit" value="Submit"/>
            </p>
        </form>
        <a href="/Home/Index">All Employees</a>
    </body>
</html>
